@media (min-width: 768px){

.weather-icon{
display:none; /* hide SVG */
}

/* REQUIRED: pseudo-element weather icon */
.weather h2::after{
content:" ⛅";
}

main{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

}

