:root{
--primary: #000;
--accent: #ffcc00;
--bg: #fff;
}

body{
font-family: Arial, sans-serif;
margin:0;
text-align:center;
}

header{
background:rgb(23, 192, 73);
color:white;
padding:1rem;
}

picture img{
width:100%;
height:auto;
}

main{
max-width:900px;
margin:auto;
padding:1rem;
}

.weather{
background:#f5f5f5;
padding:1rem;
border-radius:8px;
}

.weather-icon{
width:50px;
}

section{
box-shadow:0 2px 6px rgba(0,0,0,0.2);
}

p{
line-height:1.6;
}